# Environment
NODE_ENV=local

# Server
HOST=localhost
PORT=7000

# Database
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=llzbf23sbozi9mfef56ebgbhsv5ymsb4
MONGO_DATABASE=salina

# Authentication
JWT_SECRET=JlQNbEgsWtLQlClHKszQcSU3t2NUAQkC8FGg2k0ttZ4soBb0jQVozQl05QoKmGy2
